@media screen and (max-width: 480px){

img {
	width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 29%;
	display: block;

}
#tropcap {
    font-family: "comic sans ms";
    text-align: center;
    font-size: 16px;
}
div.clear{
    clear: left;
}
h2{
    text-transform: uppercase;
}
div.information {
    border: 4px solid #FE4C40;
    border-radius: 15px;
    padding: 5px;
    margin: 6px;
    background-color: #FE6F5E;
}
div.column {
	display: block;
	border: 3px solid #50BFE6;
	background: #DB91EF;
}
h2.sizes {
	border-bottom: solid 2px #2243B6;
	font-size: 20px;
	color: #7ED4E6;
}
img.siding{
    width: 100px;
    height: 100px;
}
div.color {
	text-align: center;
	color: #8F47B3;
}
div.background{
	background: #C8C8CD;

}

.topnav a:hover {
    background-color: #3F26BF;
    color: black;
    /*text-transform: uppercase;*/
    text-decoration: underline;

}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
}
.nested {
    font-size: 15px;
}
.questions {
    font-size: 21px;
    border: 3px solid #FFFF66 ;
    background-color: #8F47B3;
    color: white;
}
.questionsbig{
    background-color: #33CC99;
    border:3px solid #0048BA;
}
}
