@media screen and (min-width: 480px){
img.home {
    width: 500px;
    height: 500px;
    border-radius: 45%;  
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#tropcap {
    font-family: "comic sans ms";
    text-align: center;
    font-size: 24px;
}
div.clear{
    clear: left;
}
h2{
    text-transform: uppercase;
}
div.information {
    border: 6px solid #FE4C40;
    border-radius: 15px;
    padding: 7px;
    margin: 8px;
    background-color: #FE6F5E;
    font-family: 
}
.column {
    float: left;
    width: 33%;
    background: #ACACE6;
    border-left: 1px solid #3F26BF;
    height: 400px;
   
}
h2 {
  text-align: center;
  text-transform: capitalize;

  
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
img.siding{

    width: 100px;
    height: 100px;
}
div.color {
    color:#C154C1; 
}
div.background{
    background: #C8C8CD;
    border-radius: 10px;
    border: 3px solid red;
}
img.layout {
    width: 500px;
    height:350px;
}
#treehouse{
    height: 350px;
    width: 300px;
}
.topnav a:hover {
    background-color: #3F26BF;
    color: black;
    text-transform: uppercase;
    text-decoration: underline;

}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}
li {
    font-size: 25px;
}
.nested {
    font-size: 20px;
}
.questions {
    font-size: 28px;
    border: 3px solid #FFFF66 ;
    background-color: #8F47B3;
    color: white;
}
.questionsbig{
    background-color: #33CC99;
    border:3px solid #0048BA;
}
}
